form {
  margin: 1rem 0 2rem 0;
  display: grid;
  grid-template-columns: 1fr;
}

.divider {
  opacity: .5;
  margin: 1rem 0;

  gap: 1rem;
  display: flex;
  align-items: center;

  div {
    height: 1px;
    flex: 1 1 auto;
    background-color: rgb(150, 150, 150);
  }
}

button {
  width: 100%;
}
